[submodule ".registry"]
	path = .registry
	url = https://github.com/djghosh1123/djghosh1123.r-universe.dev
	branch = HEAD
[submodule "PFCI"]
	path = PFCI
	url = https://github.com/djghosh1123/PFCI
	branch = master
[submodule "glmgraph"]
	path = glmgraph
	url = https://github.com/cran/glmgraph
	branch = master
